<%- include('partials/header') %>

    <section id="produit">
        <h1>
            <%= cafe.nom %>
        </h1>

        <div class="articles" id="articles-list">
            <article>
                <img src="../images/coffees/<%= cafe.reference %>.png" alt="<%=cafe.nom %>" />
                <div>
                    <h2>
                        <%= cafe.nom %>
                    </h2>
                    <p>
                        Ref. <%= cafe.reference %>
                    </p>
                    <p>
                        Description : <%= cafe.description %>
                    </p>
                    <p>Catégorie(s) :</p>
                    <ul>
                        <% for (const caracteristique of cafe.caracteristique) { %>
                            <li>
                                <%= caracteristique %>
                            </li>
                            <% } %>
                    </ul>
                    <p>
                        Origine : <%= cafe.origine %>
                    </p>

                    <p>
                        Prix : <%= cafe.prix_kg %> €/kg
                    </p>
                    <% if (cafe.disponible) { %>
                        <span>✅ En stock</span>
                        <% } else { %>
                            <span>❌ Rupture de stock</span>
                            <% } %>
                                <a class="button-outline" href="/catalogue">Retour au catalogue</a>
                </div>
            </article>

        </div>

        <%- include('partials/footer') %>