<%- include('partials/header') %>

    <section id="catalog">
        <h1>Notre catalogue</h1>

        <div class="articles" id="articles-list">

            <% if (locals.cafe && Array.isArray(locals.cafe) && locals.cafe.length> 0) { %>
                <% for (const cafe of locals.cafe) { %>
                    <article>
                        <img src="../images/coffees/<%= cafe.reference %>.png" alt="<%=cafe.nom %>" />
                        <div>

                            <h2>
                                <%= cafe.nom %>
                            </h2>
                            <p>
                                Origine : <%= cafe.origine %>
                            </p>
                            <p>
                                Prix : <%= cafe.prix_kg %> €/kg
                            </p>
                            <a class="button-outline" href="/catalogue/<%= cafe.id %>">Voir le détail</a>
                        </div>
                    </article>
                    <% } %>
                        <% } else { %>
                            <p>Pas de produit disponibles</p>
                            <% } %>
        </div>

    </section>

    <%- include('partials/footer') %>